[Desktop Entry]
Name=dox
Comment=documentation browser
Exec=dox
Type=Application
Terminal=false
Categories=Qt;Development;
Icon=dox
# vi: encoding=utf-8
